@import "variables";

// ==== blog scss file, jake deery, 2024 ====
#content {
    .blog-entry {
        margin: 1.0em 0 1.0em 0;
        padding: 1.0em 0 0 0;
        border-top: 1px dashed $prussianBlue;

        .blog-headline,
        .blog-abstract,
        .blog-desc {
            p {
                margin-bottom: 0.25em;
            }

            small {
                font-weight: 200;
            }
        }
    }

    .blog-headline {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1,
        h4 {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;

            &::before {
                content: "";
            }
        }

        p {
            min-width: 150px;
            font-weight: 200;
            text-align: end;
        }
    }

    .blog-abstract {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75em;

        .blog-frontmatter {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }

        .blog-frontmatter-right {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            text-align: end;
        }
    }

    .blog-desc {
        .blog-excerpt {
            text-align: justify;
        }
    }

    .blog-pagination {
        text-align: center;
    }
}

// ==== dark mode ====
@media(prefers-color-scheme: dark) {
    #content {
        .blog-entry {
            border-top: 1px dashed $white-smoke;
        }
    }
}
