---
layout: post
title: Creamy Pesto Baked Gnocchi &amp; Chicken Skillet
description: What isn't pesto good in? It's a sauce that turns any dish into kitchen gold, especially this totally comforting and delicious gnocchi and chicken bake. For the perfect pesto touch, stir a dollop into the tomato mixture to coat everything, then dollop the top with more right out of the oven for a fresh finish. Whether you use our go-to pesto recipe to get started or buy your favourite store-bought version to speed things up, this dish isn't going to last long—it's the kind of meal people will fight over the last spoonful.
category: italian
tags: gnocchi,italian
---

<img class="post-poster" src="{{- 'assets/bitmaps/posters/creamy-pesto-baked-gnocchi-and-chicken-skillet.jpg' | relative_url }}" />
<!-- info-box -->
<h3>Information</h3>
{%  include
    info-box.html
    prep="15'"
    cook="50'"
    serves=4
    energy=1114
    energy_measure="kcal"
%}
<!-- ./info-box -->
<!-- description -->
{% if page.description %}
<h3>Description</h3>
<em>{{ page.description }}</em>
{% endif %}
<!-- ./description -->
<!-- nutri-box -->
<h3>Nutrition</h3>
{%  include
    nutri-box.html
    fat=1.51678
    saturates=0.423288
    carbs=3.35103
    sugar=0.246918
    fibre=0.211644
    protein=2.68082
    salt=0.04709074
    measure="oz"
%}
<!-- ./nutri-box -->
<!-- ingredients-list -->
<h3>Ingredients</h3>
<ul class="post-list">
    <li>4 skinless, boneless chicken breasts (about 675 g total)</li>
    <li>{{ 2 | tbsp_to_ml }} ml extra-virgin olive oil, divided</li>
    <li>1 small brown onion, halved and thinly sliced</li>
    <li>2 cloves garlic, thinly sliced</li>
    <li>{{ 0.937 | cup_to_ml }} g cherry tomatoes, halved</li>
    <li>{{ 0.250 | cup_to_ml }} ml dry white wine</li>
    <li>{{ 1.040 | cup_to_ml }} ml chicken stock</li>
    <li>{{ 2.000 | tbsp_to_ml }} ml double cream</li>
    <li>{{ 16.655 | oz_to_g }} g package refrigerated or shelf-stable gnocchi</li>
    <li>{{ 0.520 | cup_to_ml }} g homemade or store-bought pesto, divided</li>
    <li>{{ 5.320 | oz_to_g }} g mozzarella, torn (optional)</li>
    <li>torn fresh basil leaves and lightly toasted pine nuts, for serving</li>
    <li>salt & pepper</li>
</ul>
<!-- ./ingredients-list -->
<!-- method -->
<h3>Method</h3>
<h5>Step 1</h5>
<p>
    Preheat oven to {{ 429 | f_to_c }}°C. Season chicken on both sides with {{ 0.70 | tsp_to_ml: 1 }} ml of salt and {{ 0.30 | tsp_to_ml: 1 }} ml of pepper. In a large straight-sided skillet over medium-high heat, heat 15 ml oil. Add chicken and cook, turning occasionally, until golden brown, 4' to 6' per side. Transfer to a plate.
</p>
<h5>Step 2</h5>
<p>
    In same skillet over medium heat, heat remaining {{ 1 | tbsp_to_ml }} ml oil. Add onion and garlic and cook, stirring occasionally, until tender, 3' to 5'. Add tomatoes and wine and cook, stirring and scraping up any brown bits on bottom of pan, until wine is mostly evaporated and tomatoes are just starting to wilt, about 2'. Pour in stock and cream and bring to a boil. Stir in gnocchi and nestle chicken back into pan.
</p>
<h5>Step 3</h5>
<p>
    Bake in oven until chicken is cooked through, 8' to 10'. Transfer chicken to a cutting board.
</p>
<h5>Step 4</h5>
<p>
    Stir {{ 2 | tbsp_to_ml }} ml pesto into skillet. Top with mozzarella (if using). Continue to bake until pesto is warmed through and cheese is melted, about 4' more. Let cool slightly.
</p>
<h5>Step 5</h5>
<p>
    Thinly slice chicken and return to skillet. Dollop top of bake with remaining {{6 | tbsp_to_ml }} ml pesto. Sprinkle with basil and pine nuts. Serve.
</p>
<!-- ./method -->
